@* Subscription/Index.cshtml içinde Paket Seçme Butonuna tıklandığında açılacak alan *@
<div class="payment-info-box p-4 mt-4 bg-dark border border-secondary rounded">
    <h5 class="text-white fw-bold"><i class="bi bi-bank me-2 text-danger"></i>ÖDEME BİLGİLERİ</h5>
    <hr class="border-secondary">
    <div class="row text-white-50 small">
        <div class="col-6">Banka:</div><div class="col-6 text-white text-end">Afney Bank A.Ş.</div>
        <div class="col-6">Alıcı:</div><div class="col-6 text-white text-end">AfneyGym Spor İşletmeleri</div>
        <div class="col-6">IBAN:</div><div class="col-6 text-white text-end fw-bold">TR00 0000 0000 0000 0000 0000 00</div>
        <div class="col-12 mt-2 text-warning">* Lütfen açıklama kısmına e-posta adresinizi yazınız.</div>
    </div>
</div>